* {
    margin: 0;
    padding: 0;
}

body {
    background-color: 	#2c3e50;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1{
    color: #ecf0f1;
}


.game {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2pc;
}

.outer {
    height: 310px;
    width: 310px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.box {
    height: 100px;
    width: 100px;
    border: none;
    border-radius: 10px;
    font-size: 40px;
    color: 	#ff2e63;
    background-color: #00ffff;
    cursor: pointer;
}

.box:hover {
    background-color: #b9d075;
    color: white;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

#reset {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: 	#8e44ad;
    color: white;
    margin-top: 1.5pc;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#new {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #8e44ad;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#reset:hover, #new:hover {
    background-color: #8075d0;
    color: white;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.msg-cont{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

#msg {
    color: 	#f1c40f;
    font-size: 2rem;
    margin-bottom: 10px;
}


.hide {
    display: none;
}